{
   "presets": [
      "@babel/preset-env",
      [
         "@babel/preset-react",
         {
            "useBuiltIns": "entry",
            "corejs": "3",
            "targets": {
               "node": "10",
               "browsers": "last 2 versions"
            }
         }
      ]
   ],
   "plugins": [
      [
         "@babel/plugin-transform-runtime",
         {
            "regenerator": true
         }
      ]
   ]
}
