@import 'stylesheets/partials/_vars';
@import 'stylesheets/partials/_mixins.scss';

%btn {
   $bgcolor: #334;
   color: white;
   @include bgtext($bgcolor);
   border: none;
   border-radius: 0;
   padding: 0.5rem;
   transition: 0.2s;
   cursor: pointer;
   display: flex;
   align-items: center;
   justify-content: center;

   &:hover {
      color: $x-primary;
   }
   &:focus {
      box-shadow: 0 0 5px $x-secondary;
   }
}

.scroll_btn {
   @extend %btn;
}

.center {
   display: inline-flex;
   align-items: flex-end;
   margin-left: 10px;
   justify-content: center;
}
.header {
   display: flex run-in;
   align-items: center;
   justify-content: space-between;
}
.flex_column {
   div {
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.3s;

      &:first-child {
         margin-right: $x-xs;
      }
   }
}

.transitionize {
   transition: 0.2s;
}

.NotFoundBlock {
   width: 100%;
   height: 94.5vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.NotFoundCodeBlock {
   padding: 1rem;
   background-color: #335;
   color: #eee;
   font-size: 1.4rem;
}
.GoHomeLink {
   padding: 0.5rem;
   &::after {
      content: '';
      display: block;
      border-bottom: 3px solid #889;
   }
   &:hover {
      color: #778;
   }
}
.errorMsg {
   padding: 5px 10px;
   background-color: #f88;
   color: #d33;
   border-radius: 10px;
}
.errorBlock {
   width: 100vw;
   flex-grow: 1;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}
.retryBtn {
   padding: 5px;
   text-align: center;
   background: transparent;
   border: none;
}
.p_overflow {
   overflow: hidden;
}

.loading_style {
   position: fixed;
   top: 0;
   left: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   color: white;
   height: 100vh;
   width: 100vw;
   z-index: 9999;
}
.header_flex {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0.4rem 1rem;
   background: $x-primary;

   .logo a {
      font-size: 1.4rem !important;
   }
}
.refresh_btn {
   background-color: transparent;
}
.StickyBar {
   position: fixed;
   bottom: 3rem;
   right: 1rem;
   display: flex;
   flex-direction: column;
   z-index: 99999;

   button,
   a {
      padding: 1rem;
      background: #eee;
      color: #000;
      z-index: 9999;
      opacity: 0.35;
      cursor: pointer;

      &:hover {
         color: #000;
         opacity: 0.9;
      }
   }
}
