table.list {
   background: #ccf;
   border-collapse: collapse;
   width: 100%;
   color: #224;

   colgroup {
      .col {
         &-name {
            width: 70%;
         }
         &-size {
            width: 10%;
         }
         &-createdAt {
            width: 20%;
         }
      }
   }

   thead {
      padding: 0.5rem;
      tr {
         background: transparent;
         border-collapse: collapse;
         cursor: pointer;

         &:hover {
            background-color: darken(#ccf, 10);
            text-shadow: 0 0 3px #235;
         }
         th {
            padding: 0.5rem 0;
         }
      }
   }

   tbody {
      padding: 0.5rem;
      tr {
         background: transparent;
         border-collapse: collapse;
         cursor: pointer;

         &:hover {
            background-color: darken(#ccf, 10);
            text-shadow: 0 0 3px #235;
         }
         td {
            a {
               display: block;
               padding: 0.5rem;
               color: #335;
            }

            &:not(.name) {
               text-align: center;
            }

            &:hover {
               color: #334;
               font-weight: 500;
            }
         }
      }
   }
   .name {
      display: block;
      a {
         display: block;
         span {
            display: block;
            // white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            line-clamp: 1;
         }
      }
   }

   .size {
      text-align: right;
      overflow-x: hidden;
      a {
         text-align: right;
         transform: translateX(-$x-lg);
      }
   }

   .createdAt {
   }
}
