.main-reader {
   padding: 0 1rem;

   &-flex {
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

      .flex-item {
         max-width: 200px;
         background: #667;
         border-radius: 10px;
         display: flex;
         flex-direction: column;
         justify-content: space-between;

         .bg-img {
            height: 300px;

            .background {
               
            }
         }

         .description {
            padding: 0.5rem;
            margin-top: 10px;
            text-align: center;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 15px;
         }
      }
   }
}
