$x-primary: #1366af;
$x-secondary: #424344;
$x-dark: #111;
$x-light: #fefefe;
$x-success: lightgreen;
$x-warning: lighten(yellow, 37);
$x-error: lighten(red, 25);
$b-sm: 525px;
$b-md: 768px;
$b-tablet: 900px;
$b-lg: 1024px;
$b-xl: 1140px;
$b-xxl: 1340px;
$x-xs: 0.2rem;
$x-sm: 0.5rem;
$x-md: 1rem;
$x-lg: 1.5rem;
$x-xl: 2rem;
