.errorMsg {
   padding: 5px 10px;
   background-color: #f88;
   color: #d33;
   border-radius: 10px;
}
.errorBlock {
   width: 100vw;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   height: 100vh;
}
.retryBtn {
   padding: 5px;
   text-align: center;
   background: transparent;
   border: none;
}
