@import '../../stylesheets/partials/_vars';

.loading_style {
   display: flex;
   align-items: center;
   justify-content: center;
   color: white;
   top: 0;
   left: 0;
   position: absolute;
   height: 100vh;
   width: 100%;
   z-index: 9999;
}
.header_flex {
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.refresh_btn {
   background-color: transparent;
   &:hover {
      color: #449;
   }
}
.search_bar {
   border: none;
   width: 100%;
   padding: $x-xs * 1.5;
   font-size: 1rem;
   font-style: italic;
   font-family: 'Space Mono', monospace;

   &::-webkit-search-cancel-button {
      border-radius: 50%;
      background: #223;
      width: 10px;
      height: 10px;
      stroke-width: 10px;
      appearance: none;
   }
}

.marquee:hover {
   height: 1.2rem;
   overflow: hidden;
   position: relative;

   .marquee_child {
      position: absolute;
      width: 100%;
      height: 100%;
      text-align: center;
      animation: marquee_animation 15s linear infinite;
   }
}
/* Move it (define the animation) */
@keyframes marquee_animation {
   0% {
      transform: translateX(0%);
   }
   50% {
      transform: translateX(-100%);
   }
   51% {
      transform: translateX(100%);
   }
   100% {
      transform: translateX(0%);
   }
}
