@import '../../stylesheets/partials/_vars';

.center {
   display: inline-flex;
   align-items: flex-end;
   margin-left: 10px;
   justify-content: center;
}
.header {
   display: flex run-in;
   align-items: center;
   justify-content: space-between;
}
.flex_column {
   div {
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.3s;

      &:first-child {
         margin-right: $x-xs;
      }
   }
}

.transitionize {
   transition: 0.2s;
}
