@import '~bootstrap/scss/functions';

$imperial-red: rgba(230, 57, 70, 1);
$honeydew: rgba(241, 250, 238, 1);
$powder-blue: rgba(168, 218, 220, 1);
$celadon-blue: rgba(69, 123, 157, 1);
$prussian-blue: rgba(29, 53, 87, 1);

$dark: #051923;
$secondary: rgba(69, 123, 157, 1);
$light: rgba(241, 250, 238, 1);
$bg-color: rgba(168, 218, 220, 1);
$primary: rgb(0, 95, 158);
$info: rgba(29, 53, 87, 1);
$enable-cssgrid: true;
$pagination-color: $bg-color;
$pagination-bg: $dark;
$pagination-border-color: lighten($secondary, 10);
$pagination-focus-color: $primary;
$pagination-focus-bg: $secondary;
$pagination-focus-box-shadow: lighten($secondary, 10);

$pagination-hover-color: $primary;
$pagination-hover-bg: $secondary;
$pagination-hover-border-color: lighten($secondary, 10);

$pagination-active-color: $primary;
$pagination-active-bg: $secondary;

$pagination-disabled-color: $info;
$pagination-disabled-bg: lighten($secondary, 10);
$pagination-disabled-border-color: lighten($secondary, 10);

@import '~bootstrap/scss/bootstrap';
@import '~bootstrap/scss/bootstrap-grid';

img {
   object-fit: cover;
}

.r-icon {
   vertical-align: middle;
}
